.amphora-drinks {
    display: grid;
    /* grid-gap: 20px; */
    gap: 10px;
    grid-auto-rows: 20vh;
    grid-template-rows: 20vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: var(--dark_grey);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.amphora-drinks--drink {
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 20vh;
    transition: all 0.25s
}

.amphora-drinks--drink:hover {
    transform: translateY(-10px);
}

.amphora-drinks--image {
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    place-self: center;
}

.amphora-drinks--title {
    position: absolute;
    width: 20vh;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(187, 187, 187, 0.65);
    text-align: center;
}